<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sección de comentarios</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}">
</head>
<body>
<section class="contenedor-comentarios">
    <div class="area-comentar">
        <div class="avatar">
            <img src= "/static/imagenes/corazon triste.png" alt="">
        </div>
        <form action="#" method="post" class="inputs-comentarios">
            <textarea name="" class="area-comentario"></textarea>
            <div class="botones-comentar">
                <div class="boton-subir-archivo">
                    <label class="boton-file" for="adjuntar">
                        <i class="fas fa-file-alt"></i>
                        Adjuntar archivo
                    </label>
                    <input type="file" name="" value="" placeholder="" id="adjuntar">
                </div>
                <button class="boton-enviar" type="submit">
                    <i class="fas fa-paper-plane"></i>
                    Enviar
                </button>
            </div>
        </form>
    </div>
    <div class="publicacion-realizada">
        <div class="usuario-publico">
            <div class="avatar">
                <img src="{{ picture }}" alt="user-avatar">
            </div>
            <div class="contenido-publicacion">
                <h4>{{ name }}</h4>
                <ul>
                    <li>{{ email }}</li>
                </ul>
            </div>
            <div class="menu-comentario">
                <i class="fas fa-pen"></i>
                <ul class="menu">
                    <li><a href="">Editar</a></li>
                    <li><a href="">Eliminar</a></li>
                </ul>
            </div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores aliquam possimus, doloremque repellat assumenda ipsam magni ducimus, dolorem explicabo</p>
        <div class="archivo-publicado">
            <img src="/static/imagenes/el julio.jpg" alt="">
        </div>
        <div class="botones-comentario">
            <button type="" class="boton-like">
                <i class= "fas fa-heart"></i>
                45
            </button>
            <button type="" class="boton-responder">
                Comentar
            </button>
        </div>
    </div>
    <div class="comentarios-usuarios">
        <!-- comentario principal -->
        <div class="comentario-principal-usuario">
            <div class="avatar">
                <img src="/static/imagenes/mitsuri.png" alt="">
            </div>
            <div class="comentario">
                <div class="usuario-comentario">
                    <div class="texto">
                        <a href="#" title="" class="nombre-usuario">Mitsuri Karoji</a> 
                        {% for comment in comments %}

                        {{ comment.comment }}
                        
                        {% endfor %}
                    </div>
                    <div class="botones-comentario">
                        <button type="" class="boton-puntuar">
                            <i class= "fas fa-heart"></i>
                            5
                        </button>
                        <button type="" class="boton-responder">
                            responder
                        </button>
                        <span class="tiempo-comentario">
                            hece 3 min
                        </span>
                    </div>
                    <div class="menu-comentario">
                        <i class="fas fa-pen"></i>
                        <ul class="menu">
                            <li><a href="">Editar</a></li>
                            <li><a href="">Eliminar</a></li>
                        </ul>
                    </div>
                </div>

                <!-- contenedor sub comentarios -->
                <div class="contenedor-sub-comentarios">
                    <div class="comentario-principal-usuario">
                        <div class="avatar">
                            <img src="/static/imagenes/tanjiro.jpg" alt="">
                        </div>
                        <div class="comentario">
                            <div class="usuario-comentario">
                                <div class="texto">
                                    <a href="#" title="" class="nombre-usuario">Tanjiro Kamado</a> Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod
                                </div>
                                <div class="botones-comentario">
                                    <button type="" class="boton-puntuar">
                                        <i class= "fas fa-heart"></i>
                                        12
                                    </button>
                                    <button type="" class="boton-responder">
                                        responder
                                    </button>
                                    <span class="tiempo-comentario">
                                        hece 1 min
                                    </span>
                                </div>
                                <div class="menu-comentario">
                                    <i class="fas fa-pen"></i>
                                    <ul class="menu">
                                        <li><a href="">Editar</a></li>
                                        <li><a href="">Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="comentar-publicacion">
            <div class="avatar">
                <img src="/static/imagenes/sad_boy.png" alt="">
            </div>
           <form action="#" method="post" class="comentar-comentario">
               <input type="text" name="" value="" placeholder="">
               <button type="" class="boton-enviar">
                <i class="fas fa-paper-plane"></i>
               </button>
           </form>
        </div>
    </div>
</section>
</body>
</html>
